@import url(./fonts/stylesheet.css);
@import 'tailwindcss';

@theme {
  --color-primary-blue: #104a99;
  --color-light-blue: #8aa5ca;
  --color-dark-blue-text: #044a96;
  --color-pastel-blue: #d3e7ff;
  --color-gas-module-bg: rgba(16, 74, 153, 0.5);
  --color-electricity-module-bg: rgba(246, 161, 187, 0.5);
  --color-header-menu-bg: #fdecdb;
  --color-info-center-gradient-start: #5995cc;
  --color-info-center-gradient-end: #a1c3e2;
  --shadow-custom-card: 0 2px 0 var(--color-gray-300);
  --shadow-custom-gap-base: 6px 3px 0 var(--color-gray-300);
}

@layer base {
  .bg-custom-gradient {
    background-image: linear-gradient(
      to bottom right,
      var(--color-primary-blue),
      var(--color-light-blue)
    );
  }

  .shadow-custom-card {
    box-shadow: var(--shadow-custom-card);
  }

  .shadow-custom-gap-base {
    box-shadow: var(--shadow-custom-gap-base);
  }
  .bg-info-center-gradient {
    background-image: linear-gradient(
      to bottom right,
      var(--color-info-center-gradient-start),
      var(--color-info-center-gradient-end)
    );
  }

  .btn-primary {
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-primary:hover {
    background-color: var(--color-primary-blue);
  }
}

html, body {
  font-family: 'Montserrat', sans-serif;
}